In [13]:
import pandas as pd
import os

In [14]:

# Definir la ruta base de los archivos
# Asegúrate de cambiar esta ruta si el dataset está en otra ubicación
RUTA_BASE = "C:/Users/oscar/Desktop/Henry/Proyectos/INDIVIDUAL 1/data_set"

In [15]:
#  Cargar los datasets procesados en formato Parquet
ruta_movies_parquet = os.path.join(RUTA_BASE, "movies_dataset_etl.parquet")
ruta_credits_parquet = os.path.join(RUTA_BASE, "credits.parquet")

movies_df = pd.read_parquet(ruta_movies_parquet)
credits_df = pd.read_parquet(ruta_credits_parquet)

In [16]:
 # Verificar los tipos de datos para asegurarnos de que 'id' sea entero
print(movies_df.dtypes)
print(credits_df.dtypes)

belongs_to_collection            object
budget                            int64
genres                           object
id                                int64
original_language                object
overview                         object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
tagline                          object
title                            object
vote_average                    float64
vote_count                      float64
release_year                      int32
return                          float64
dtype: object
id           int64
actors      object
director    object
dtype: object

In [17]:
# Eliminar duplicados en la columna 'id' antes de la fusión
movies_df = movies_df.drop_duplicates(subset=['id'])
credits_df = credits_df.drop_duplicates(subset=['id'])

In [18]:
# Fusionar los datasets utilizando 'id' como clave
# Se realiza un left join para mantener todas las películas y agregar información de los créditos
movies_merged_df = movies_df.merge(credits_df, on='id', how='left')

In [19]:
#  Eliminar posibles duplicados después de la fusión
movies_merged_df = movies_merged_df.drop_duplicates(subset=['id'])

In [20]:
# Rellenar valores nulos en columnas clave
# Si no hay actores o director en los datos, se asigna 'Desconocido'
movies_merged_df['actors'].fillna("Desconocido", inplace=True)
movies_merged_df['director'].fillna("Desconocido", inplace=True)

C:\Users\oscar\AppData\Local\Temp\ipykernel_25744\4180252410.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies_merged_df['actors'].fillna("Desconocido", inplace=True)
C:\Users\oscar\AppData\Local\Temp\ipykernel_25744\4180252410.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies_merged_df['director'].fillna("Desconocido", inplace=True)

In [21]:
#  Ver el resultado final
display(movies_merged_df.head())

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,tagline,title,vote_average,vote_count,release_year,return,actors,director
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,81.0,English,None,Toy Story,7.7,5415.0,1995,12.451801,Desconocido,Desconocido
1,None,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,...,104.0,"English, Français",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,Desconocido,Desconocido
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,...,101.0,English,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Desconocido
3,None,16000000,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,127.0,English,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,Desconocido,Desconocido
4,Father of the Bride Collection,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,...,106.0,English,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Desconocido

In [22]:
# Verificar duplicados en 'id' después de la fusión
duplicados = movies_merged_df['id'].duplicated().sum()
print(f"🔍 Películas duplicadas: {duplicados}")

🔍 Películas duplicadas: 0

In [23]:
# Verificar valores nulos en columnas clave
print("Valores nulos en `actors`:", movies_merged_df['actors'].isnull().sum())
print("Valores nulos en `director`:", movies_merged_df['director'].isnull().sum())

Valores nulos en `actors`: 0
Valores nulos en `director`: 0

In [24]:
# Guardar el dataset final en formato Parquet para optimización
ruta_final_parquet = os.path.join(RUTA_BASE, "movies_final.parquet")
movies_merged_df.to_parquet(ruta_final_parquet, index=False)

print(f" Unión completada. Archivo guardado en:\n  {ruta_final_parquet}")

 Unión completada. Archivo guardado en:
  C:/Users/oscar/Desktop/Henry/Proyectos/INDIVIDUAL 1/data_set\movies_final.parquet